#chrono {
    background-color: $dark-blue;
    color: #fff;
    width: 100%;
    height: 616px;
    background-image: url('/static/images/chrono-desktop.png');
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: -1;

    /* .legend {
        display: block;
    }

    p {
        font-size: 20px;
    }

    #legend1 {
        @include set-legends-width(352px, 329px, 235px, 70px)
    }

    #legend2 {
        @include set-legends-width(433px, 358px, 440px, 580px)
    }

    #legend3 {
        @include set-legends-width(460px, 418px, 80px, 470px)
    }

    #legend4 {
        @include set-legends-width(271px, 316px, 280px, 920px)
    } */
}

@media (max-width: 1200px) {
    /* chrono */
    #chrono {
        height: 600px;
        background-image: url('/static/images/chrono-s.png');
    }
}