footer {
    width: 100%;
    color: #fff;
    height: 324px;
    background-color: $dark-blue;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    #top-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80vw;
        height: 100%;

        #footer-links {
            width: 162px;
            display: flex;
            align-items: center;

            &:first-child img {
                margin-right: 40px;
            }
        }

        #contact {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .contact-item {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 10px;
                padding: 6px 20px;

                &:hover {
                    background-color: rgba(3, 110, 211, 0.3);
                    border-radius: 200px;
                }
            
                h3 {
                    font-weight: 400;
                }

                img {
                    width: 26px;
                    height: 26px;
                    margin-right: 10px;
                }
            }
        }

        #arrow-up {
            width: 162px;
            display: flex;
            justify-content: flex-end;
            
            img {
                width: 65px;
                cursor: pointer;

                &:hover {
                    background-color: rgba(3, 110, 211, 0.3);
                    border-radius: 200px;
                }
    
                &:active {
                    transform: scale(.9);
                }
            }
        }
    }

    #bottom-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 30px;
        width: 80vw;
        height: 150px;
        border-top: solid $very-light-grey 1px;

        #by-lucas {
            font-family: $font-poppins;

            &:hover {
                color: $light-blue;
            }
        }
    }
}