@media (max-width: 1024px) {
    /* header */
    nav {
        ul {
            width: 527px;
    
            li {
                font-size: 20px;
            }
        }
    
        #language-selector {
            font-size: 14px;
            
            .flag {
                height: 24px;
            }
    
            #current-language {
                border-radius: 5px;
                width: 130px;
            }
    
            #select-language-box {
                .select-language {
                    width: 130px;
    
                    &:first-child {
                        background-color: $dark-blue;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        font-weight: bold;
                        letter-spacing: 1px;
                        padding-left: 12px;
                        cursor: default;
                        
                        p {
                            margin: 0;
                            font-size: 14px;
                        }
    
                        .select {
                            margin-left: auto;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }

    #links {
        img {
            height: 26px;
        }
    }

    #hero-section {
        margin-top: 80px;
    
        #add-copy {
    
            #name {
                font-size: 65px;
            }
    
            #profession {
                font-size: 25px;
                letter-spacing: 8px;
            }
        }
    
        #rogerio {
            width: 257px;
            right: 120px;
            top: 67px;
        }
    }

    /* profile */
    #profile {
        height: 400px;

        #left-profile {

            #profile-title {
                margin-top: 70px;
                font-size: 50px;
            }

            img {
                top: 103px;
                width: 150px;
                height: 415px;
            }
        }

        #right-profile {
            height: 446px;
            transform: translateY(-46px);
    
            #profile-content {
                padding-bottom: 41px;
                font-size: 20px;
            }
    
            &::before {
                content: '';
                position: absolute;
                z-index: 15;
                width: 100%;
                height: 405px;
                top: 70px;
                right: 30px;
                background-color: rgba(245, 245, 245, 0.1);
            }
        }
    }

    /* chrono */
    #chrono {
        height: 900px;
        background-image: url('/static/images/chrono-xs.png');
    }

    /* specialty */
    @include set-underline-pt('/static/images/underline-pt-tablet.png', 30px);
    @include set-underline-en('/static/images/underline-en-tablet.png', 23px);

    #specialty {
        height: auto;

        #specialty-title {
            font-size: 50px;
            margin: 30px 0;
        }

        #specialty-content {
            flex-direction: column;

            #specialty-left {
                background-color: rgba(0, 45, 113, 0.1);
                max-width: 900px;
                width: auto;
                margin: 0;
                padding: 30px 50px;
                font-size: 20px;
                margin-bottom: 60px;

                &::before {
                    background-color: transparent;
                    z-index: initial;
                    top: auto;
                    left: auto;
                    background-image: url('/static/images/paciente.jpg');
                    bottom: -90%;
                    right: 40px;
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    width: 368px;
                    height: 240px;
                    @include img-decoration();
                }

                #specialty-left1 {
                    margin-bottom: 0px;
                    display: inline;
                    line-height: 35px;
                }
    
                #specialty-left2 {
                    margin-bottom: 0px;
                    display: inline;
                    line-height: 35px;
                }
            }

            #specialty-img {
                display: none;
            }

            #specialty-right {
                font-size: 20px;
                width: 100vw;
                margin: 0;
                padding: 30px 50px;
                background-color: rgba(0, 45, 113, 0.1);

                &::before {
                    content: none;
                }
            }
        }
    }

    /* gallery */
    #gallery {

        #gallery-title {
            font-size: 50px;
        }

        #carousel {
            #move-left {
                margin-right: 40px;
            }
    
            #move-right {
                margin-left: 40px;
            }

            #current-img-div {

                #indicators {
                    width: 500px;
                    height: 300px;

                    #indicator-container {
                        padding-bottom: 30px;
    
                        .indicator {
                            width: 40px;
                            height: 5px;
                        }

                        .indicator-active {
                            width: 40px;
                            height: 5px;
                        }
                    }
                }
    
                .img-div {
                    width: 500px;
                }
            }

            .img-gallery {
                max-height: 300px;
            }
        }
    }

    /* videos */
    #videos {
        height: 600px;
    
        #videos-bg-left {
            top: 408px;
            width: 73px;
            height: 268px;
        }
    
        #videos-bg-right {
            top: 408px;
            width: 73px;
            height: 268px;
        }
        
        /* #videos-title-div {
            margin-top: 60px;
            margin-bottom: 50px;
        } */
        
        #videos-container {
            margin: 0;
    
            .video {
                width: 220px;
    
                h2 {
                    font-size: 18px;
                    margin-top: 10px;
                    margin-bottom: 8px;
                }
    
                .video-img {
                    width: 220px;
                    height: 120px;
                }
    
                p {
                    font-size: 16px;
                }
            }
        }
    
        #videos-call-for-action {
            font-size: 20px;
            padding: 7px 25px;
        }
    }

    /* testimonies */
    #testimonies {
    
        #testimonies-container {
    
            #testimonies-title {
                font-size: 50px;
            }
    
            #testimony1 {
                height: 120px;
                top: -180px;
                left: 10px;
            }
    
            #testimony2 {
                height: 120px;
                top: -180px;
                left: 130px;
            }
    
            #testimony3 {
                width: 80px;
                top: -160px;
                right: -140px;
            }
    
            #testimony4 {
                height: 120px;
                bottom: -170px;
                right: -70px;
            }
    
            #testimony5 {
                height: 170px;
                bottom: -190px;
                left: -40px;
            }
    
            #testimony6 {
                height: 130px;
                top: -70px;
                left: -200px;
            }
        }
    }

    /* footer */
    footer {
        height: 300px;
    
        #top-footer {
    
            #footer-links {
                width: 108px;

                img {
                    height: 27px;
                }
    
                &:first-child img {
                    margin-right: 20px;
                }
            }
    
            #contact {
    
                .contact-item {
                    margin: 8px;
                    padding: 5px 20px;
                
                    h3 {
                        font-size: 24px;
                    }
    
                    img {
                        width: 22px;
                        height: 22px;
                    }
                }
            }
    
            #arrow-up {
                width: 108px;
                
                img {
                    width: 55px;
                }
            }
        }
    
        #bottom-footer {
            height: 120px;
            font-size: 20px;
        }
    }
}

@media (max-width: 920px) {
    /* header */
    nav {
        ul {
            width: 450px;
    
            li {
                font-size: 16px;
            }
        }
    
        #language-selector {
            font-size: 13px;
            
            .flag {
                height: 22px;
            }
    
            #current-language {
                border-radius: 5px;
                width: 120px;
                padding: 3px 7px;
            }
    
            #select-language-box {
                .select-language {
                    width: 120px;
                    padding: 3px 7px;
                    min-height: 30px;

                    &:first-child {
                        background-color: $dark-blue;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        font-weight: bold;
                        letter-spacing: 1px;
                        padding-left: 12px;
                        cursor: default;
                        
                        p {
                            margin: 0;
                            font-size: 14px;
                        }
    
                        .select {
                            margin-left: auto;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }

    #links {
        img {
            height: 24px;
        }
    }

    #hero-section {
    
        #rogerio {
            top: 75px;
        }
    }

    /* profile */
    #profile {

        #right-profile {
    
            #profile-content {
                padding-bottom: 30px;
                font-size: 18px;
            }
        }
    }
}