@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,400&family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

$font-roboto: 'Roboto', sans-serif;
$font-roboto-condensed: 'Roboto Condensed', sans-serif;
$font-poppins: 'Poppins', sans-serif;
$dark-blue: #002d71;
$light-blue: #036fd3;
$light-grey: rgba(237, 237, 237, 0.5);
$dark-grey: #7d7d7d;
$very-light-grey: #ededed;

%hover-element {
    &:hover {
        color: $dark-blue;
        cursor: pointer;
    }
}

@mixin set-underline-pt($url, $top) {
    :lang(pt) {
        #specialty {
            &-title {
                &::before {
                    background-image: url($url);
                    top: $top;
                }
            }
        }
    }
}

@mixin set-underline-en($url, $top) {
    :lang(en) {
        #specialty {
            &-title {
                &::before {
                    background-image: url($url);
                    top: $top;
                }
            }
        }
    }
}

@mixin img-decoration() {
    border-radius: 5px;
    box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.2);
}

/* @mixin set-legends-width($w1, $w2, $top, $left) {
    position: absolute;
    top: $top;
    left: $left;

    &-title {
        width: $w1;
        font-weight: bold;
        margin-bottom: 5px;
    }

    &-text {
        width: $w2;
    }
} */