@import 'config';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    cursor: default;

    font-family: $font-roboto-condensed;
    font-size: 24px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: #fff;
    color: $dark-blue;
}

a {
    text-decoration: none;
    color: inherit;

    &:hover {
        cursor: pointer;
    }

    &:visited {
        color: inherit;
    }
}

ul {
    list-style: none;
}

@import 'sections/header';
@import 'sections/profile';
@import 'sections/chrono';
@import 'sections/specialty';
@import 'sections/gallery';
@import 'sections/videos';
@import 'sections/testimonies';
@import 'sections/footer';

@import 'utilities';
@import 'tablet.scss';
@import 'mobile.scss';